name: "Newlisp"
scopeName: "source.newlisp"
comment: '''

  		The foldings do not currently work the way I want them to. This
  		may be a limitation of the way they are applied rather than the
  		regexps in use. Nonetheless, the foldings will end on the last
  		identically indented blank line following an s-expression. Not
  		ideal perhaps, but it works. Also, the #illegal pattern never
  		matches an unpaired ( as being illegal. Why?! -- Rob Rix

  		Ok, hopefully this grammar works better on quoted stuff now.  It
  		may break for fancy macros, but should generally work pretty
  		smoothly.  -- Jacob Rus

  		I have attempted to get this under control but because of the way folding
  		and indentation interact in Textmate, I am not sure if it is possible. In the
  		meantime, I have implemented Python-style folding anchored at newlines.
  		Additionally, I have made some minor improvements to the numeric constant
  		highlighting. Next up is square bracket expressions, I guess, but that
  		should be trivial. -- ozy`

'''
fileTypes: [
  "lsp"
  "nl"
]
'firstLineMatch': '^#!\\s*/.*\\bracket'
foldingStartMarker: '''
  (?x)^ [ \t]* \(
  	  (?<par>
  	    ( [^()\n]++ | \( \g<par> \)? )*+
  	  )
  	$
'''
foldingStopMarker: "^\\s*$"
patterns: [
  {
    include: "#comment"
  }
  {
    include: "#sexp"
  }
  # {
  #   include: "#string"
  # }
  {
    include: "#language-functions"
  }
  {
    include: "#quote"
  }
  {
    include: "#constants"
  }
  {
    include: "#illegal"
  }
]
repository:
  comment:
    patterns: [
      {
        captures:
          "1":
            name: "punctuation.definition.comment.racket"
        match: "(;).*$\\n?"
        name: "comment.line.semicolon.racket"
      }
      {
        match: "#!/.+$"
        name: "comment.line"
      }
    ]
  constants:
    patterns: [
      {
        match: "\\b[true|false]\\b"
        name: "constant.language.boolean.racket"
      }
      {
        match: "(#:)([[:alnum:]][[:alnum:]!$%&*+-./:<=>?@^_~]*)(?=[\\s\\)])"
        name: "constant.keyword.racket"
      }
      {
        match: "(?<=[\\(\\s])((#e|#i)?-?[0-9]+(\\.[0-9]+)?|(#x)[0-9a-fA-F]+|(#o)[0-7]+|(#b)[01]+)(?=[\\s;()'\",\\[\\]])"
        name: "constant.numeric.racket"
      }
    ]
  illegal:
    match: "[()]"
    name: "invalid.illegal.parenthesis.racket"
  "language-functions":
    patterns: [
      {
        name: "keyword.control.racket"
        match: '''
          (?x)
          						(?<=(\\(|\\[)) # preceded by ( or \[
          						( do|else|quasiquote|begin|if-not|if|unless|when-not|when|case|set!|
          						  cond|match|
                        let|let\\*|match-let\\*?|let\\*?-values|local|parameterize|
                        unquote|unquote-splicing|delay|
          						  letrec|values|
                        or\\*?|xor|and\\*?|not|
                        syntax-case|with-syntax)
          						(?=(\\s|\\())
        '''
      }
      {
        name: "support.function.boolean-test.racket"
        match: '''
          (?x)
          						(?<=(\\s|\\()) # preceded by space or (
          						( char-alphabetic|char-lower-case|char-numeric|
          						  char-ready|char-upper-case|char-whitespace|
          						  (?:char|string)(?:-ci)?(?:=|<=?|>=?)|
          						  atom|boolean|bound-identifier=|char|complex|
          						  identifier|integer|symbol|free-identifier=|inexact|
          						  eof-object|exact|list|(?:input|output)-port|pair|
          						  real|rational|zero|vector|negative|odd|null|string|
          						  eq|equal|eqv|even|number|positive|procedure|
                        number|
                        hash|hasheq|
                        path|
                        empty|null|false|void|
                        not-empty
          						)
          						(\\?)		# name ends with ? sign
          						(?=(\\s|\\()) # followed by space or (

        '''
        comment: '''

          						These functions run a test, and return a boolean
          						answer.

        '''
      }
      {
        name: "support.function.convert-type.racket"
        match: '''
          (?x)
          						(?<=(\\s|\\()) # preceded by space or (
          						( char->integer|exact->inexact|inexact->exact|
          						  integer->char|symbol->string|list->vector|
          						  list->string|identifier->symbol|vector->list|
          						  string->list|string->number|string->symbol|
          						  number->string|syntax->list|syntax->datum
          						)
          						(?=(\\s|\\()) # followed by space or (

        '''
        comment: '''

          						These functions change one type into another.

        '''
      }
      {
        name: "support.function.with-side-effects.racket"
        match: '''
          (?x)
          						(?<=(\\s|\\()) # preceded by space or (
          						( set-(?:car|cdr)|				 # set car/cdr
          						  (?:vector|string)-(?:fill|set) # fill/set string/vector
          						)
          						(!)			# name ends with ! sign
          						(?=(\\s|\\()) # followed by space or (

        '''
        comment: '''

        These functions are potentially dangerous because
        they have side-effects which could affect other
        parts of the program.

        '''
      }
      {
        name: "keyword.operator.arithmetic.racket"
        match: "(?<=(\\s|\\())( >=?|<=?|=|[*/+-])(?=(\\s|\\())"
        comment: '''

          						+, -, *, /, =, >, etc.

        '''
      }
      {
        name: "keyword.specialword.racket"
        match: "(?<=(\\s|\\(|\\[))(null|empty)(?=(\\s|\\)|\\]))"
      }
      {
        name: "support.function.module.racket"
        match: "(require/typed|require|cond-require|module(\\+|\\*)?|provide|namespace-require|begin-for-syntax|lazy-require)"
      }
      {
        name: "support.function.definition.racket"
        match: "(define-syntax-rule|define(-datatype|-struct|-values|/contract|-macro|-for-syntax|-catch|-type|-check)*|syntax-rules|syntax|defmacro|struct)"
      }
      {
        name: "support.function.general.racket"
        match: '''
          (?x)
          						(?<=(\\s|\\()) # preceded by space or (
          						( append|apply|keyword-apply|approximate|
          						  call-with-current-continuation|call/cc|catch|
          						  construct-identifier|
          						  for-each|force|cd|gen-counter|gen-loser|
          						  generate-identifier|last-pair|length|let-syntax|
          						  letrec-syntax|list|list-ref|list-tail|take|drop|load|log|
                        vector|
                        first|second|third|fourth|fifth|last|rest|
          						  macro|magnitude|map|andmap|ormap|filter-map|map-streams|filter|filter-not|clean|foldl|foldr|reduce|max|member|memq|sort|
                        lambda|curry|curryr|
          						  memv|min|newline|nil|peek-char|rationalize|
          						  read|read-char|return|reverse|sequence|substring|
          						  transcript-off|transcript-on|
          						  truncate|unwrap-syntax|values-list|write|write-char|
                        void|identity|const|
                        cartesian-product|permutations|combinations|group-by|argmin|argmax|

          						  # cons, car, cdr, etc
          						  m?cons|(set-)?(m)?c(a|d){1,4}r!?|

                        # logic functions
                        # or|and|not|
                        negate|

                        # iterators
                        for|for\\*?/(fold|hash|list|vector|or|and)|

                        # generators
                        range|

          						  # unary math operators
          						  abs|acos|angle|asin|assoc|assq|assv|atan|ceiling|
          						  cos|floor|round|exact-round|exact-floor|exact-ceiling|sin|sqrt|tan|
          						  (?:real|imag)-part|numerator|denominator|

          						  # other math operators
          						  modulo|exp|expt|remainder|quotient|lcm|

                        # even more math functions
                        add1|sub1|

                        # hash functions
                        hash-ref[*]?|hash-keys|hash-values|

          						  # ports / files
          						  call-with-(?:input|output)-file|
          						  (?:close|current)-(?:input|output)-port|
          						  with-(?:input|output)-from-file|
          						  open-(?:input|output)-file|

          						  # char-«foo»
          						  char-(?:downcase|upcase|ready)|

                        # error handling
                        raise-syntax-error|with-handlers|error|errorf|

          						  # make-«foo»
          						  make-(?:polar|promise|rectangular|string|vector|hash)|

          						  # string-«foo», vector-«foo»
          						  string(?:-(?:append|copy|join|length|split|trim|ref|replace|downcase|upcase))?|
          						  vector(?:-length|-ref)|

                        # regexps functions
                        regexp-(match\\*?|replace\\*?)|regexp|pregexp|

                        # random
                        random|

                        # module system
                        all-defined-out|except-out|all-from-out|for-syntax|prefix-in|only-in|rename-in|

                        # evals
                        eval|

                        # unit test functions
                        check|
                        check(-(equal|not-equal|eq|not-eq|eqv|not-eqv|info))\\?|
                        check-(pred|=|true|false|match|regexp-match|exn|info)|
                        # test-(suite|case)|
                        fail|

          							# output functions
          							print|printf|println|format|display|displayln|

                        # flow control functions
                        exit|

                        # parameters
                        make-parameter
          						)
          						(?=(\\s|\\(|\\))) # followed by space or ( or )

        '''
      }
    ]
  quote:
    comment: '''

      				We need to be able to quote any kind of item, which creates
      				a tiny bit of complexity in our grammar.  It is hopefully
      				not overwhelming complexity.

      				Note: the first two matches are special cases.  quoted
      				symbols, and quoted empty lists are considered constant.other


    '''
    patterns: [
      {
        captures:
          "1":
            name: "punctuation.section.quoted.symbol.racket"
        match: '''
          (?x)
          						(')\s*
          						([[:alnum:]_][[:alnum:]!$%&*+-./:<=>?@^_~]*)

        '''
        name: "constant.other.symbol.racket"
      }
      {
        captures:
          "1":
            name: "punctuation.section.quoted.empty-list.racket"
          "2":
            name: "meta.expression.racket"
          "3":
            name: "punctuation.section.expression.begin.racket"
          "4":
            name: "punctuation.section.expression.end.racket"
        match: '''
          (?x)
          						(')\s*
          						((\()\s*(\)))

        '''
        name: "constant.other.empty-list.schem"
      }
      {
        begin: "(')\\s*"
        beginCaptures:
          "1":
            name: "punctuation.section.quoted.racket"
        comment: "quoted double-quoted string or s-expression"
        end: "(?=[\\s()])|(?<=\\n)"
        name: "string.other.quoted-object.racket"
        patterns: [
          {
            include: "#quoted"
          }
        ]
      }
    ]
  "quote-sexp":
    begin: "(?<=\\()\\s*(quote)\\b\\s*"
    beginCaptures:
      "1":
        name: "keyword.control.quote.racket"
    comment: '''

      				Something quoted with (quote «thing»).  In this case «thing»
      				will not be evaluated, so we are considering it a string.

    '''
    contentName: "string.other.quote.racket"
    end: "(?=[\\s)])|(?<=\\n)"
    patterns: [
      {
        include: "#quoted"
      }
    ]
  quoted:
    patterns: [
      {
        include: "#string"
      }
      {
        begin: "(\\()"
        beginCaptures:
          "1":
            name: "punctuation.section.expression.begin.racket"
        end: "(\\))"
        endCaptures:
          "1":
            name: "punctuation.section.expression.end.racket"
        name: "meta.expression.racket"
        patterns: [
          {
            include: "#quoted"
          }
        ]
      }
      {
        include: "#quote"
      }
      {
        include: "#illegal"
      }
    ]
  sexp:
    begin: "(\\()"
    beginCaptures:
      "1":
        name: "punctuation.section.expression.begin.racket"
    end: "(\\))(\\n)?"
    endCaptures:
      "1":
        name: "punctuation.section.expression.end.racket"
      "2":
        name: "meta.after-expression.racket"
    name: "meta.expression.racket"
    patterns: [
      {
        include: "#comment"
      }
      {
        name: "meta.declaration.procedure.racket"
        begin: '''
          (?x)
          						(?<=\\()       # preceded by (
          						(define|define-catch)\\s+   # define
          						(\\()          # list of parameters
          						  ([[:alnum:]][[:alnum:]!$%&*+-./:<=>?@^_~]*)
          						  ((\\s+
          						    ([[:alnum:]][[:alnum:]!$%&*+-./:<=>?@^_~]*|[._])
          						   )*
          						  )\\s*
          						(\\))

        '''
        captures:
          "1":
            name: "support.function.definition.racket"
          "2":
            name: "punctuation.definition.function.racket"
          "3":
            name: "entity.name.function.racket"
          "4":
            name: "variable.parameter.function.racket"
          "7":
            name: "punctuation.definition.function.racket"
        end: "(?=\\))"
        patterns: [
          {
            include: "#comment"
          }
          {
            include: "#sexp"
          }
          {
            include: "#illegal"
          }
        ]
      }
      {
        begin: '''
          (?x)
          						(?<=\\() # preceded by (
          						(lambda|λ)\\s+
          						(\\() # opening paren
          						((?:
          						  ([[:alnum:]][[:alnum:]!$%&*+-./:<=>?@^_~]*|[._])
          						  \\s+
          						)*(?:
          						  ([[:alnum:]][[:alnum:]!$%&*+-./:<=>?@^_~]*|[._])
          						)?)
          						(\\)) # closing paren

        '''
        captures:
          "1":
            name: "keyword.control.racket"
          "2":
            name: "punctuation.definition.variable.racket"
          "3":
            name: "variable.parameter.racket"
          "6":
            name: "punctuation.definition.variable.racket"
        comment: '''

          						Not sure this one is quite correct.  That \s* is
          						particularly troubling

        '''
        end: "(?=\\))"
        name: "meta.declaration.procedure.racket"
        patterns: [
          {
            include: "#comment"
          }
          {
            include: "#sexp"
          }
          {
            include: "#illegal"
          }
        ]
      }
      {
        name: "meta.declaration.variable.racket"
        begin: "(?<=\\()(define)\\s([[:alnum:]][[:alnum:]!$%&*+-./:<=>?@^_~]*)\\s*.*?"
        captures:
          "1":
            name: "support.function.definition.racket"
        "2":
          name: "variable.other.racket"
        end: "(?=\\))"
        patterns: [
          {
            include: "#comment"
          }
          {
            include: "#sexp"
          }
          {
            include: "#string"
          }
          {
            include: "#illegal"
          }
        ]
      }
      {
        include: "#quote-sexp"
      }
      {
        include: "#quote"
      }
      {
        include: "#language-functions"
      }
      {
        include: "#string"
      }
      {
        include: "#constants"
      }
      {
        match: "(?<=[\\(\\s])(#\\\\)(space|newline|tab)(?=[\\s\\)])"
        name: "constant.character.named.racket"
      }
      {
        match: "(?<=[\\(\\s])(#\\\\)x[0-9A-F]{2,4}(?=[\\s\\)])"
        name: "constant.character.hex-literal.racket"
      }
      {
        match: "(?<=[\\(\\s])(#\\\\).(?=[\\s\\)])"
        name: "constant.character.escape.racket"
      }
      {
        comment: '''

          						the . in (a . b) which conses together two elements
          						a and b. (a b c) == (a . (b . (c . nil)))

        '''
        match: "(?<=[ ()])\\.(?=[ ()])"
        name: "punctuation.separator.cons.racket"
      }
      {
        name: "meta.function.racket"
        match: "(?<=\\()(\\w[A-Za-z0-9_\\-/]*)\\b"
        captures:
          "1":
            name: "markup.other.function.racket"
      }
      {
        include: "#sexp"
      }
      {
        include: "#illegal"
      }
    ]
  string:
    patterns: [
      {
        name: "string.quoted.double.racket"
        begin: "(\")"
        beginCaptures:
          "1":
            name: "punctuation.definition.string.begin.racket"
        end: "(\")"
        endCaptures:
          "1":
            name: "punctuation.definition.string.end.racket"
        patterns: [
          {
            match: "\\\\."
            name: "constant.character.escape.racket"
          }
        ]
      }
      {
        name: "string.unquoted.herestring.racket"
        # match: "(?sm)^\\s*#<<(?<label>\\S+)\\s*$.*^\\s*\\g<label>\\s*$"
        # match: "(?m)^\\s*#<<(\\w+)\\s*\\n[\\w\\W\n]*?\\n\\s*\\1\\s*$" <- for some unknown reason doesn't work here
        begin: "^\\s*#<<(\\w+)\\s*$"
        end: "^\\s*\\1\\s*$"
      }
      # {
      #   name: "string.unquoted.herestring.racket"
      #   match: '''
      #     (?xm)
      #       ^.*\\#<<(?<label> [a-z]+ ) .* $
      #       [\\s\\S]*?
      #       ^[ \\t]* \\g<label> [ \\t]*? $
      #   '''
      # }
    ]
